body {
	margin: 0em;
	padding: 0em;
}

header {
	background-color: #3f4247;
	font-family: "Liberation Mono",Monospaced, SansSerif;
	color: #3dce3f;
}

h1 {
	margin-left: 5%;
	display: inline-block;
}

.container img[src="images/welcome.gif"] {
	display: block;
	margin: auto;
	width: 50%;
	padding-top: 5em;
}


.instructions-wrapper {
	border: .3em solid black;
	margin: .8em;
}


.instructions-wrapper img[src="images/captain-janeway.png"] {
	height: 300px;
	widows: 400px;
	align: right;
	padding: 1em;
}

.instructions-content {
	font-family: "Liberation Mono", Monospaced, SansSerif;
}

.instructions-content h2{
	text-align: left;
}

.about-me {
	background-color: #002eff;
	font-family: "Liberation Mono", Monospaced, SansSerif;
	color: white;
	padding: 2em;
}

.about-me h2 {
	text-align: left;
}


.about-me span {
	color: yellow;
}

#picard-pic {
	border: solid white .3em;
	float: left;
	height: 12em;
	margin: 2em;
}

section h2 {
	text-align: right;
}
#contact-form {
	background-color: #3f4247;
	padding: 1em;
}

.form-wrapper {
	background-color: green;
	margin: 3em;
	color: lawngreen;
	font-family: "Liberation Mono", Monospaced, SansSerif;
	padding: 1em;
}

.form-wrapper h2 {
	text-align: left;
}

label {
	display: block;
}

input {
	display: block;
}



footer {
	background-color: black;
	font-family: "Liberation Mono", Monospaced, SansSerif;
	font-size: 1.2em;
	color: white;
	text-align: center;
	padding: .8em;
	height: 4em;
}